[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Terry Weissman <terry@mozilla.org>
  #                 Vlad Dascalu <jocuri@softhome.net>
  #%]

[%# INTERFACE:
  # none
  #%]
  
[% PROCESS global/header.html.tmpl
  title = "Add keyword"
  subheader = "This page allows you to add a new keyword."
%]

<p>
At the risk of Elijah's wrath, <b>DO NOT</b> add any keywords without
consensus of the active bugmasters.  We have too many keywords and
should be removing them instead of adding them in most all cases.
Basic criteria for adding new keywords that you should consider when
trying to get approval of the other bugmasters:
<ul>
  <li> It should not be specific to any module or small set of modules</li>
  <li> It must be used widely (i.e. by many different people and not
       just some small niche) for querying.  (Using extra keywords to
       categorize bugs, merely in order that they can be categorized
       more, isn't useful unless multiple people actively use those
       categories in searches)</li>
  <li> It must be used for a long time, not just for some short term
       purpose (e.g. something like "Gnome212blocker" wouldn't
       fly)</li>
</ul>
Note that everyone is free to use the status whiteboard as an
alternative to keywords.  It is helpful, when using the status
whiteboard, if you namespace anything you add; for example,
"evolution[IMAP]" instead of "IMAP" and "andrew[bigbadbug]" instead of
"bigbadbug".
</p>

<form method="post" action="editkeywords.cgi">
  <table border="0" cellpadding="4" cellspacing="0">
    <tr>
      <th align="right">Name:</th>
      <td><input size="64" maxlength="64" name="name" value=""></td>
    </tr>
    <tr>
      <th align="right">Description:</th>
      <td>
        [% INCLUDE global/textarea.html.tmpl
          name    = 'description'
          minrows = 4
          cols    = 64
          wrap    = 'virtual'
        %]
      </td>
    </tr>
  </table>
  <hr>
  <input type="hidden" name="id" value="-1">
  <input type="submit" id="create" value="Add">
  <input type="hidden" name="action" value="new">
  <input type="hidden" name="token" value="[% token FILTER html %]">
</form>

<p><a href="editkeywords.cgi">Edit other keywords</a>.</p>

[% PROCESS global/footer.html.tmpl %]
