# Don't allow people to retrieve non-cgi executable files or our private data
<FilesMatch ^(.*\.pm|.*\.pl|.*localconfig.*)$>
  deny from all
</FilesMatch>

<FilesMatch "\.cgi$">
  ErrorDocument 403 /page.cgi?id=403.html
</FilesMatch>

RewriteEngine On
RewriteRule bug-HOWTO.html$ /page.cgi?id=bug-writing.html [R=301,L]
RewriteRule bugwritinghelp.html$ /page.cgi?id=bug-writing.html [R=301,L]
RewriteRule describeflagtypes.cgi$ /page.cgi?id=fields.html#attachments.status [NE,R=301,L]
RewriteRule bugbuddy.cgi /xmlrpc.cgi [PT,L]
