<select id="gnome_attachment_status" name="gnome_attachment_status">
  [% FOREACH gnome_attachment_status = all_gnome_attachment_status_values %]
  <option value="[% gnome_attachment_status.name FILTER html %]"
          [% IF attachment.gnome_attachment_status == gnome_attachment_status.name %]
          selected
          [% END %]
          >[% display_value("attachments.gnome_attachment_status", attachment.gnome_attachment_status) %]</option>
  [% END %]
</select>
